<menu>
    <TAPAS>
        <item>Anchoas con tomate (und)</item>
        <item>1,80€</item>
        <item>Tomate, ventresca y cebollitas</item>
        <item>9,00€</item>
    </TAPAS>
    <ENSALADAS>
        <item>Jamón, rúcula, queso y tomate seco</item>
        <item>9,00€</item>
        <item>Sardina ahumada y escalibada</item>
        <item>6,00€</item>
    </ENSALADAS>
</menu>